.feed-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eeeef1af;
    align-items: center
}

.feed {

    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    
}
